body {
  margin: 0;
  background-color: rgb(192, 201, 192) !important;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Merienda", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Open Sans",
    "Frank Ruhl Libre", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 10vh;
  --nav-width: 10vw;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 !important;
}

a {
  color: var(--text-color);
  text-decoration: none !important;
}

/* <nav> */
.navbarTop {
  height: var(--nav-size);
  background-color: var(--bg);
  border-bottom: var(--border);
  position: relative;
}

/* .navBarTopUser {
  position: relative;
  height: var(--nav-size);
  background-color: #c6ebd7;
  border-bottom: #c6ebd7;
  z-index: 1000;
} */

.NavbarLogo {
  margin-right: auto;
  background-color: white;
}

/* <ul> */
.navbarTop-nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

/* <li> */
.navTop-item {
  width: calc(var(--nav-size) * 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .search-nav {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
} */

.icon-button-lng {
  margin-top: 5px;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size * 1);
  height: var(--button-size * 1);
  background-color: whitesmoke;
  border-radius: 50%;
  margin: 2px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 400ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  width: 25px;
  height: 25px;
}

/* .icon-button-user {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size * 1);
  height: var(--button-size * 1);
  margin: 2px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* Dropdown Menu */

.navTopDropdown {
  position: absolute;
  z-index: 1;
  top: 60px;
  width: 300px;
  transform: translateX(-40%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
  padding-bottom: 2rem;
  transition: height var(--speed) ease;
}

.navTopMenu {
  padding: 1rem;
  width: 100%;
}

.navTopMenuItem {
  color: #dadce1;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.navTopMenuItem:hover {
  background-color: #525357;
}

.hoverMenuItem {
  background-color: transparent;
  transition: background var(--speed);
}

.hoverMenuItem:hover {
  background-color: #525357;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {
  position: absolute;
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

/* NavbarBottom */

/* Nav */
.margin-not-overlap {
  margin-top: var(--nav-size);
}

.navbar-bottom {
  width: 100vh;
  height: var(--nav-size);
  background-color: var(--bg);
}

/* ul */
.navbarBottomNav {
  width: 80%;
  height: 100%;
  /* padding-left: 40px;
  padding-right: 40px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* li */
.nav-bottom-item {
  color: aliceblue;
}

.nav-bottom-item:hover {
  filter: brightness(1.2);
}

.NavTopScroll {
  padding: 1rem;
  overflow: auto;
  height: 50vh;
}

@media only screen and (max-width: 600px) {
  .scroll {
    overflow: auto;
    height: 40vh;
  }
}

.my-custom {
  margin-top: 5vh;
  height: 300px;
}

/* HomeScreen */

.bg-container {
  background-color: whitesmoke;
}

.max-sizing {
  max-width: 700px !important;
}

.color-title {
  color: rgba(219, 21, 30);
}

.test3 {
  position: relative;
  color: rgba(219, 21, 30);
}

.test3::before {
  content: "";
  position: absolute;
  z-index: 900;
  top: 50%;
  background-color: grey;
  width: 40%;
  height: 1px;
  left: 0;
}

.test3::after {
  content: "";
  position: absolute;
  z-index: 900;
  top: 50%;
  background-color: grey;
  width: 40%;
  height: 1px;
  right: 0;
}

.test4 {
  width: 90px;
  height: 90px;
  background-color: bisque;
}

.test-buttom {
  background-color: red;
  height: 60px;
}

/* LanguageSwitcher */

.flag {
  width: 30px;
}

.test {
  margin: auto auto;
}

/* Productcarousel */
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 210px;
  height: 100px;
  background-color: rgb(255, 194, 102);
}

.item.active {
  background: red;
}

.carouselItem {
  position: absolute;
}

.favoriteColorChange {
  position: absolute;
  filter: invert(18%) sepia(79%) saturate(2476%) hue-rotate(12deg)
    brightness(84%) contrast(119%);
}

.svg-test {
  position: absolute;
  right: 10%;
  top: 10%;
}

/* SearchBox */

.centerContainer {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInputs {
  /* margin-top: 105px; */
  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 15px;
  padding: 15px;
  height: 32px;
  width: 40vw;
}

.searchIcon {
  height: 32px;
  width: 32px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.dataResult {
  position: absolute;
  margin-top: 1px;
  width: calc(40vw);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataItem {
  padding-left: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem:hover {
  background-color: lightgrey;
}

@media only screen and (max-width: 800px) {
  .search input {
    width: 80vw;
  }

  .dataResult {
    width: calc(80vw + 32px);
  }
}

/* AdminScreen */
.link-btn {
  color: white !important;
  font-size: 1.2rem;
  background-color: gray;
  padding: 1.2rem;
  border-radius: 1rem;
}

.form-msg-style {
  font-style: italic;
  font-size: 0.75rem;
  margin-bottom: 0rem !important;
  margin-top: 0.01rem !important;
}

.font-size-msg {
  font-size: calc(0.8rem + 0.1vw) !important;
}

.font-size-title {
  font-size: calc(1.2rem + 0.1vw) !important;
}

.formInvalid {
  border-color: rgba(189, 51, 51, 1) !important;
  box-shadow: 0px 0px 0px 1px rgba(174, 29, 29, 1) !important;
  background: pink !important;
}

.formInvalid:focus {
  background: white !important;
}

.card-shadow {
  box-shadow: -12px -9px 21px -16px rgba(66, 68, 90, 1);
}

.bg-height {
  min-height: calc(100vh - 60px) !important;
}

.img-contact {
  max-width: 500px;
}

.full-screen {
  background-color: white;
  width: 100%;
  height: 100%;
}

/* Category */

.alkoholTitle {
  color: #ae1d1d !important;
}

.preOrder {
  color: #207b00 !important;
}

.accordion-body-main {
  color: #242526;
  padding: 0 !important;
  position: absolute !important;
  background-color: white !important;
  width: 20vw;
  height: 55vh;
  z-index: 9999;
  top: 100%;
  border-right-style: solid;
  border-width: 1px;
  border-color: #999999;
}

.accordion-body-subclass {
  color: #242526;
  padding: 0 !important;
  position: absolute !important;
  background-color: white !important;
  width: 20vw;
  height: 55vh;
  z-index: 9999;
  top: 100%;
  left: 22vw;
}

.accordion-header {
  min-width: 110px;
  border-radius: 900px !important;
}

@media only screen and (max-width: 800px) {
  .accordion-body {
    width: 25vw;
  }

  .accordion-header {
    width: 25vw;
  }
}

.accordion-button {
  background-color: white !important;
  padding: 0.7rem !important;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 1) !important;
  border-radius: 900px !important;
}

.accordion-button:hover {
  background-color: rgb(97, 194, 62) !important;
}

.accordion-button:focus {
  background-color: rgb(97, 194, 62) !important;
}

.accordion-button:not(.collapsed) {
  color: black !important;
}

.accordion-button {
  font-size: calc(0.7rem + 0.3vw) !important;
}

.accordion-item {
  border-radius: 900px !important;
}

.item-category {
  color: #999999 !important;
  padding: 0.6rem;
  font-size: calc(0.7rem + 0.2vw);
  font-weight: 300;
  border-bottom: solid 1px;
}

.active-item {
  background-color: #ede7d8;
}

.item-category:hover {
  background-color: #ede7d8;
}

/* Order Info */

.order-info {
  background-color: rgb(204, 204, 179);
}

.dropdown .dropdown-menu:before {
  display: none !important;
}

.dropdown .dropdown-toggle:after {
  display: none;
}

.custom-order-info-text {
  font-size: calc(0.9rem + 0.1vw) !important;
}

.title-decorations {
  position: relative;
}

.title-decorations::after {
  content: "";
  position: absolute;
  background-color: #ae1d1d;
  width: 40vw;
  height: 1.5px;
  right: 20px;
  top: 30px;
}

.title-decorations::before {
  content: "";
  position: absolute;
  background-color: #ae1d1d;
  width: 40vw;
  height: 1.5px;
  left: 20px;
  top: 30px;
}

@media only screen and (max-width: 600px) {
  .title-decorations::after {
    width: 30vw;
  }

  .title-decorations::before {
    width: 30vw;
  }
}

/* Image Slider */

.container-slider {
  max-width: 160px;
  height: 160px;
  margin: 100px auto 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.6s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active-anim {
  opacity: 1;
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  background: rgb(32, 32, 32);
}

.map-container {
  width: 100%;
  height: 50vh;
}

.sidebar-toggle {
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.cartItem {
  transition: all 0.2s ease-in-out;
}

.cartItem:hover {
  transform: scale(1.05);
}

/* @media only screen and (max-width: 1000px) {
  .cartItem {
    transform: scale(1);
  }
} */

.focusInput {
  box-shadow: none;
  transition: 400ms;
}

.focusInput:focus {
  box-shadow: 0px 4px 15px -5px rgb(236, 64, 122);
}
